@model CreateDiscountDto
@{
    ViewData["Title"] = "CreateDiscount";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İndirimli Ürün Ekleme İşlemi</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni İndirimli Ürün Ekle</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="title">Ürün Adını Giriniz</label>
								<input type="text" class="form-control" asp-for="Title" id="title">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="amount">Ürün İndirim Oranını Giriniz</label>
								<input type="text" class="form-control" asp-for="Amount" id="amount">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="imageUrl">Ürün Görselini Giriniz</label>
								<input type="text" class="form-control" asp-for="ImageUrl" id="imageurl">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="description">Ürün Açıklamasını Giriniz</label>
								<input type="text" class="form-control" asp-for="Description" id="description">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success">Ekle</button>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>


